<div id="{{ include.name | escape }}" class="carousel slide" data-ride="carousel">
<!-- Build the list of carousel indicators -->
  <ol class="carousel-indicators">
   {% for picture in include.data %}
   {% if forloop.first == true %}
     <li data-target="#{{ include.name | escape }}" data-slide-to="0" class="active"></li>
   {% else %}
     <li data-target="#{{ include.name | escape }}" data-slide-to="{{ forloop.index0 }}"></li>
   {% endif %}
   {% endfor %}
  </ol>
<!-- Build the slideshow proper -->
  <div class="carousel-inner">
    {% for picture in include.data %}
      {% if forloop.first == true %}
        <div class="carousel-item active">
          {% if picture.title %}
            <img src="{{ picture.url | relative_url }}" alt="{{ picture.title }}" style="height: 400px;">
          {% else %}
            <img src="{{ picture.url | relative_url }}" style="height: 400px;">
          {% endif %}
          {% if picture.caption %}
            <div class="carousel-caption">
              {{ picture.caption }}
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="carousel-item">
          {% if picture.title %}
            <img src="{{ picture.url | relative_url }}" alt="{{ picture.title }}" style="height: 400px;">
          {% else %}
            <img src="{{ picture.url | relative_url }}" style="height: 400px;">
          {% endif %}
          {% if picture.caption %}
            <div class="carousel-caption">
              {{ picture.caption }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#{{ include.name | escape }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{ include.name | escape }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <div class="carousel-overlay hidden-xs">
    <div class="col-md-12 text-center">
      <h1>The New England Model Engineering Society</h1>
      <h3>
        A group for those who enjoy metal working and machining.<br>
        We meet monthly in Waltham MA.
      </h3>
    </div>
  </div>
</div>
