<!-- NAV -->
<nav class="topnav navbar navbar-expand-md">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      {% for item in site.data.nav.top %} 
      <li class="nav-item">
        {% if item.ext == true %}
          <a href="{{ item.link }}" target="_blank" class="nav-link">{{ item.name }}</a>
        {% else %}
          <a href="{{ site.baseurl }}{{ item.link }}" class="nav-link">{{ item.name }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
