<!-- sidebar left col -->
  <div id="logo">
    <a href="{{ site.baseurl }}">
      <img class="img-fluid"src="img/nemes_logo.svg">
    </a> 
  </div>
  <ul class="navbar-nav">
    {% for item in site.data.bar.side %}
    <li class="nav-item">
      {% if item.ext == true %}
        <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{ item.link }}" class="nav-link">{{ item.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
<!-- /sidebar -->
