
#home_carousel .carousel {
  width: auto;
  height: 400px;

  .item {
    overflow: hidden;

    img {
      height: 100%;
      max-width: none;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }
}
