.carousel-overlay {
  background: rgba(141,2,31,0.6);
  position: absolute;
  top: 125px;
  width: 100%;
  color: #FFF;
}

#home_carousel .carousel-inner > .item > .img,
#home_carousel .carousel-inner > .item > a > .img {
  margin: auto;
  width: 70%
}
