#main {
  padding: 0rem;
}

#meeting {
  margin: $top-gap;
  border: 2px solid $primary;
}

#content {
  padding: 1.5rem;
}

#logo {
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
