.navbar-nav.sidebar {
  .nav-item{
    font-size: 1.4rem;
    padding-bottom: 20px;
  }

  .nav-link{
    color: $white !important;
  
    &:hover {
      color: $primary!important;
    }
  }
}

#sidebar {
  padding: 1.5rem;
  background-color: $primary !important;
}
