.navbar-nav.sidebar {
  .nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
  }

  .nav-link{
    color: $info !important;
  
    &:hover {
      color: $white !important;
    }
  }
}

#sidebar {
  padding-left: 1.5rem;
  margin-top: $top-gap;
  padding: 1.5rem;
  background-color: $primary !important;
}
