<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" id="logo" style="background-image: url({{ '/img/nemes_logo.svg' | relative_url }});">
      </div>
      <div class="col-md-9" id="caro"> 
      {% include carousel.html name="home_carousel" data=site.data.home_carousel %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center home-banner">
        <h1>The New England Model Engineering Society</h1>
        <h3>
          A group for those who enjoy metal working and machining.<br>
          We meet monthly in Waltham MA.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 hidden-xs" id="sidebar">
      {% include sidebar.html %}
      </div>
      <div class="col-md-9" id="main">
        {% include navbar.html %}
        <div id="content">
        {{ content }}
        </div>
      </div>
    </div>
  </div>
    {% include footer.html %}
  </body>
</html>
